.work-us-title {
  margin-top: 53px;
  p {
    color: $orange;
    font-size: 32px;
    font-family: "Open Sans Semibold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
  }
}