.none {
  display: none !important; }

#header-news {
  max-height: 214px;
  background-image: url(./img/news-header-bg.png);
  overflow: visible;
  background-position-y: 0; }

.news {
  margin-top: 70px; }

.article {
  background: #FFF;
  border-bottom: 1px solid #4f3715;
  width: 95%;
  margin: 0 auto 0;
  padding: 15px 0; }
  .article .news__image {
    display: inline-block;
    vertical-align: top;
    width: 30%; }
    .article .news__image img {
      width: 100%; }
  .article .news__post {
    display: inline-block;
    width: 70%;
    padding-top: 10px;
    padding-left: 20px; }
    .article .news__post .news__title {
      text-decoration: none;
      color: #4f3715;
      font-size: 30px;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase; }
    .article .news__post .news_prev, .article .news__post .news_text {
      color: #4f3715;
      /* text color */
      font-family: "Open Sans Regular", sans-serif;
      font-size: 14px; }
    .article .news__post .news_readmore {
      float: right; }
    .article .news__post .down {
      height: 34px;
      width: 34px;
      background-image: url(./img/down.png); }
    .article .news__post .up {
      height: 34px;
      width: 34px;
      background-image: url(./img/up.png); }

.news__count {
  margin: 10px 0 0 0;
  display: block; }
