@font-face {
  font-family: "Open Sans Regular";
  src: url("./fonts/OpenSans-Regular.eot");
  src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("./fonts/OpenSans-Light.eot");
  src: url("./fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Light.woff") format("woff"), url("./fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("./fonts/OpenSans-Semibold.eot");
  src: url("./fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Semibold.woff") format("woff"), url("./fonts/OpenSans-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("./fonts/OpenSans-Bold.eot");
  src: url("./fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Bold.woff") format("woff"), url("./fonts/OpenSans-Bold.ttf") format("truetype"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, :after, :before, :hover {
  box-sizing: border-box; }

.clearfixt:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,
a, :hover, :focus {
  text-decoration: none !important; }

button, :hover, :focus {
  border: none;
  outline: none; }

.container {
  background-color: #fff;
  width: 1200px;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.navbar-footer ul {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px; }
  .navbar-footer ul li {
    display: inline;
    margin: 30px; }
    .navbar-footer ul li a {
      color: #fff;
      font-family: "Open Sans Regular", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none !important; }
      .navbar-footer ul li a:hover {
        color: #4f3715; }

.footer-text p {
  text-align: center;
  color: #fff;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  line-height: 1.3; }

.contacts {
  display: inline; }
  .contacts img {
    float: left;
    margin-top: 11px; }
  .contacts .mail {
    margin-left: -51px; }
  .contacts p {
    margin-left: 12px;
    margin-top: 26px;
    float: left;
    color: #fff;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 21px; }
  .contacts a {
    margin-left: 10px;
    margin-top: 26px;
    float: left;
    color: #fff;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 21px;
    text-decoration: none; }
    .contacts a:hover {
      color: #4f3715; }

.none {
  display: none !important; }

#header-news {
  max-height: 214px;
  background-image: url(./img/news-header-bg.png);
  overflow: visible;
  background-position-y: 0; }

.news {
  margin-top: 70px; }

.article {
  background: #FFF;
  border-bottom: 1px solid #4f3715;
  width: 95%;
  margin: 0 auto 0;
  padding: 15px 0; }
  .article .news__image {
    display: inline-block;
    vertical-align: top;
    width: 30%; }
    .article .news__image img {
      width: 100%; }
  .article .news__post {
    display: inline-block;
    width: 70%;
    padding-top: 10px;
    padding-left: 20px; }
    .article .news__post .news__title {
      text-decoration: none;
      color: #4f3715;
      font-size: 30px;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase; }
    .article .news__post .news_prev, .article .news__post .news_text {
      color: #4f3715;
      /* text color */
      font-family: "Open Sans Regular", sans-serif;
      font-size: 14px; }
    .article .news__post .news_readmore {
      float: right; }
    .article .news__post .down {
      height: 34px;
      width: 34px;
      background-image: url(./img/down.png); }
    .article .news__post .up {
      height: 34px;
      width: 34px;
      background-image: url(./img/up.png); }

.news__count {
  margin: 10px 0 0 0;
  display: block; }

.navbar-header ul {
  margin-left: 16px;
  margin-top: 11px;
  margin-bottom: 10px; }
  .navbar-header ul li {
    display: inline;
    margin-right: 26px; }
    .navbar-header ul li a {
      color: #cb4d0f;
      font-family: "Open Sans Bold", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none !important; }
      .navbar-header ul li a:hover {
        color: #4f3715; }

button {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #cb4d0f;
  /* layer fill content */
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Open Sans Bold", sans-serif !important;
  text-transform: uppercase !important; }

.show-all-button {
  text-align: center; }
  .show-all-button .show-all {
    margin-bottom: 46px;
    margin-top: -16px;
    padding: 7px 39px;
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 24px;
    border: solid 1px #fff;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-color: #cb4d0f;
    /* layer fill content + color overlay */ }
    .show-all-button .show-all:hover {
      color: #cb4d0f;
      background-color: #fff;
      /* layer fill content + color overlay */
      border: solid 1px #cb4d0f;
      box-sizing: border-box; }

.slider-menu-button {
  padding: 5px 20px;
  margin-top: 5px; }

.header-circle {
  width: 580px;
  height: 580px;
  margin-top: 5%;
  margin-left: -35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: rgba(255, 255, 255, 0.5);
  /* layer fill content */
  -moz-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
  /* drop shadow */
  -webkit-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
  /* drop shadow */
  box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
  /* drop shadow */ }
  .header-circle p {
    color: #cb4d0f;
    font-size: 50px;
    font-family: "Open Sans Semibold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    padding: 146px 8px 8px; }

.register-box {
  width: 100%;
  display: inline-block; }
  .register-box .cart {
    float: left;
    margin-top: 5px;
    cursor: pointer; }
  .register-box .buttons {
    display: inline-block;
    float: right;
    padding-top: 5px;
    padding-right: 22px; }
    .register-box .buttons button {
      padding: 8px 36px;
      margin-left: 12px; }
      .register-box .buttons button:hover {
        background-color: #fffdfd;
        color: #cb4d0f; }

#sliding-menu {
  display: none; }
  #sliding-menu .menu {
    display: block;
    width: 250px; }
    #sliding-menu .menu > div {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 250px;
      ttransition-timing-function: ease;
      transition-duration: 250ms; }
      #sliding-menu .menu > div.left {
        background-color: rgba(255, 255, 255, 0.7);
        /* layer fill content */
        -moz-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
        /* drop shadow */
        -webkit-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
        /* drop shadow */
        box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
        /* drop shadow */
        left: -280px;
        top: 44px; }
        #sliding-menu .menu > div.left li {
          float: left;
          width: 100%;
          margin: 0;
          padding: 10px 15px;
          border-bottom: solid 1px #555;
          cursor: pointer; }
          #sliding-menu .menu > div.left li a {
            color: #cb4d0f;
            text-transform: uppercase;
            text-decoration: none; }
            #sliding-menu .menu > div.left li a:hover {
              color: #4f3715; }
      #sliding-menu .menu > div.visible li {
        float: left;
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        border-bottom: solid 1px #555;
        cursor: pointer; }
        #sliding-menu .menu > div.visible li a {
          color: #cb4d0f;
          text-transform: uppercase;
          text-decoration: none; }
          #sliding-menu .menu > div.visible li a:hover {
            color: #4f3715; }
      #sliding-menu .menu > div.visible.left {
        left: 0;
        top: 44px; }

body {
  background-image: url("./img/beguzor32.jpg"); }

header {
  height: 590px;
  background-image: url(./img/header-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -169px;
  position: relative;
  overflow: hidden; }
  header:after {
    padding-top: 6%;
    bottom: -4px;
    width: 100%;
    max-height: 68px;
    position: absolute;
    content: '';
    background-image: url(./img/figure1.png);
    background-repeat: no-repeat;
    background-size: contain; }
  header .page_title p {
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 44px; }
  header .nav-field {
    background-color: rgba(255, 255, 255, 0.5); }

footer {
  background-size: 100%;
  background: url(./img/footer_bg.png) no-repeat;
  position: relative;
  overflow: hidden;
  padding: 29px 20px 5px; }
  footer .copyright {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans Regular", sans-serif; }

.navbar-footer ul {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px; }
  .navbar-footer ul li {
    display: inline;
    margin: 30px; }
    .navbar-footer ul li a {
      color: #fff;
      font-family: "Open Sans Regular", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none !important; }
      .navbar-footer ul li a:hover {
        color: #4f3715; }

.footer-text p {
  text-align: center;
  color: #fff;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  line-height: 1.3; }

.contacts {
  display: inline; }
  .contacts img {
    float: left;
    margin-top: 11px; }
  .contacts .mail {
    margin-left: -51px; }
  .contacts p {
    margin-left: 12px;
    margin-top: 26px;
    float: left;
    color: #fff;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 21px; }
  .contacts a {
    margin-left: 10px;
    margin-top: 26px;
    float: left;
    color: #fff;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 21px;
    text-decoration: none; }
    .contacts a:hover {
      color: #4f3715; }

.none {
  display: none !important; }

#header-news {
  max-height: 214px;
  background-image: url(./img/news-header-bg.png);
  overflow: visible;
  background-position-y: 0; }

.news {
  margin-top: 70px; }

.article {
  background: #FFF;
  border-bottom: 1px solid #4f3715;
  width: 95%;
  margin: 0 auto 0;
  padding: 15px 0; }
  .article .news__image {
    display: inline-block;
    vertical-align: top;
    width: 30%; }
    .article .news__image img {
      width: 100%; }
  .article .news__post {
    display: inline-block;
    width: 70%;
    padding-top: 10px;
    padding-left: 20px; }
    .article .news__post .news__title {
      text-decoration: none;
      color: #4f3715;
      font-size: 30px;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase; }
    .article .news__post .news_prev, .article .news__post .news_text {
      color: #4f3715;
      /* text color */
      font-family: "Open Sans Regular", sans-serif;
      font-size: 14px; }
    .article .news__post .news_readmore {
      float: right; }
    .article .news__post .down {
      height: 34px;
      width: 34px;
      background-image: url(./img/down.png); }
    .article .news__post .up {
      height: 34px;
      width: 34px;
      background-image: url(./img/up.png); }

.news__count {
  margin: 10px 0 0 0;
  display: block; }

.navbar-header ul {
  margin-left: 16px;
  margin-top: 11px;
  margin-bottom: 10px; }
  .navbar-header ul li {
    display: inline;
    margin-right: 26px; }
    .navbar-header ul li a {
      color: #cb4d0f;
      font-family: "Open Sans Bold", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none !important; }
      .navbar-header ul li a:hover {
        color: #4f3715; }

button {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #cb4d0f;
  /* layer fill content */
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Open Sans Bold", sans-serif !important;
  text-transform: uppercase !important; }

.show-all-button {
  text-align: center; }
  .show-all-button .show-all {
    margin-bottom: 46px;
    margin-top: -16px;
    padding: 7px 39px;
    color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 24px;
    border: solid 1px #fff;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-color: #cb4d0f;
    /* layer fill content + color overlay */ }
    .show-all-button .show-all:hover {
      color: #cb4d0f;
      background-color: #fff;
      /* layer fill content + color overlay */
      border: solid 1px #cb4d0f;
      box-sizing: border-box; }

.slider-menu-button {
  padding: 5px 20px;
  margin-top: 5px; }

.header-circle {
  width: 580px;
  height: 580px;
  margin-top: 5%;
  margin-left: -35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: rgba(255, 255, 255, 0.5);
  /* layer fill content */
  -moz-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
  /* drop shadow */
  -webkit-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
  /* drop shadow */
  box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
  /* drop shadow */ }
  .header-circle p {
    color: #cb4d0f;
    font-size: 50px;
    font-family: "Open Sans Semibold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    padding: 146px 8px 8px; }

.register-box {
  width: 100%;
  display: inline-block; }
  .register-box .cart {
    float: left;
    margin-top: 5px;
    cursor: pointer; }
  .register-box .buttons {
    display: inline-block;
    float: right;
    padding-top: 5px;
    padding-right: 22px; }
    .register-box .buttons button {
      padding: 8px 36px;
      margin-left: 12px; }
      .register-box .buttons button:hover {
        background-color: #fffdfd;
        color: #cb4d0f; }

#sliding-menu {
  display: none; }
  #sliding-menu .menu {
    display: block;
    width: 250px; }
    #sliding-menu .menu > div {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 250px;
      ttransition-timing-function: ease;
      transition-duration: 250ms; }
      #sliding-menu .menu > div.left {
        background-color: rgba(255, 255, 255, 0.7);
        /* layer fill content */
        -moz-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
        /* drop shadow */
        -webkit-box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
        /* drop shadow */
        box-shadow: 0 3px 23px 4px rgba(0, 0, 0, 0.43);
        /* drop shadow */
        left: -280px;
        top: 44px; }
        #sliding-menu .menu > div.left li {
          float: left;
          width: 100%;
          margin: 0;
          padding: 10px 15px;
          border-bottom: solid 1px #555;
          cursor: pointer; }
          #sliding-menu .menu > div.left li a {
            color: #cb4d0f;
            text-transform: uppercase;
            text-decoration: none; }
            #sliding-menu .menu > div.left li a:hover {
              color: #4f3715; }
      #sliding-menu .menu > div.visible li {
        float: left;
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        border-bottom: solid 1px #555;
        cursor: pointer; }
        #sliding-menu .menu > div.visible li a {
          color: #cb4d0f;
          text-transform: uppercase;
          text-decoration: none; }
          #sliding-menu .menu > div.visible li a:hover {
            color: #4f3715; }
      #sliding-menu .menu > div.visible.left {
        left: 0;
        top: 44px; }

@media all and (max-width: 1200px) {
  header {
    height: 660px; }
  .navbar-header ul li {
    margin-right: 16px; }
  .implementation-block {
    height: 650px; }
  .phone-st {
    padding: 0 74px; }
  .phone-mob {
    padding: 0 74px; }
  .e-mail {
    padding: 0 246px; }
    .e-mail .mail {
      margin-left: 0; }
  footer {
    background-size: cover; } }

@media all and (max-width: 991px) {
  header {
    height: 480px; }
    header .header-circle {
      width: 450px;
      height: 450px;
      margin-top: 10.5%;
      margin-left: -64px; }
      header .header-circle p {
        font-size: 31px;
        padding: 105px 63px 8px;
        margin-left: 36px; }
  #header-news {
    max-height: 164px; }
    #header-news p {
      margin-top: 20px; }
  .navbar-header ul {
    margin-left: 0; }
    .navbar-header ul li {
      margin-right: 5px; }
      .navbar-header ul li a {
        font-size: 15px; }
  #reg-buttons {
    padding-right: 0px; }
    #reg-buttons button {
      padding: 5px 20px;
      margin-left: 5px; }
  .work-us-title {
    margin-top: 16px; }
    .work-us-title p {
      font-size: 26px; }
  .work-us-info {
    padding-top: 16px;
    margin-bottom: 20px; }
  .implementation-block {
    height: 460px; }
    .implementation-block .implementation-circle {
      margin-right: -90px;
      width: 450px;
      height: 450px; }
      .implementation-block .implementation-circle p {
        font-size: 16px;
        padding: 97px 101px; }
  .gallery-block-title {
    margin-top: 16px; }
    .gallery-block-title p {
      font-size: 26px; }
  .grapes {
    margin-bottom: 35px;
    margin-top: 20px; }
    .grapes .img-wrap .img-title {
      height: 46px;
      bottom: 46px; }
  .show-all-button .show-all {
    margin-bottom: 30px;
    padding: 5px 26px;
    font-size: 18px; }
  footer {
    padding: 5px 20px 5px; }
  .contacts img {
    width: 40px; }
  .contacts p, .contacts a {
    font-size: 16px; }
  .phone-st {
    padding: 0 58px; }
  .phone-mob {
    padding: 0 58px; }
  .e-mail {
    padding: 0 190px; }
  .navbar-footer ul {
    margin-top: 14px;
    margin-bottom: 10px; }
    .navbar-footer ul li {
      margin: 6px; }
      .navbar-footer ul li a {
        font-size: 16px; } }

@media all and (max-width: 800px) {
  .navbar-header {
    display: none; }
  #reg-buttons {
    display: none; }
  .register-box .cart {
    float: right; }
  #sliding-menu {
    display: block; } }
